html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    background: #AAAAAA;
}

html, body {
    height: 100%;
    width: 98%;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
}