html {
    /* Remove touch delay: */
    touch-action: manipulation;
}

body {
    background: #AAAAAA;
}

html, body {
    height: 800px;
    width: 500px;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 0%);
}